/*.header_view{
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
}*/

.message_position{
    margin-top: 20px;
    margin-bottom: 40px;
}
.button_color{
   background-color: #FF8385;
    color: #FFFFFF;
}
