<ion-view class="fabFeed" cache-view="false">
    <ion-header-bar align-title="center" class="bar-light" title="NEAR ME">
        <a class="button icon ion-android-home button-clear pdl5 ft24 mgn" ng-click="goBack()"></a>
        <h1 class="title">NEAR ME</h1>
    </ion-header-bar>
    <div class="bar bar-subheader bg-fa">
        <a class="alinkfix" ng-click="createNew()">
            <i class="icon ion-ios-camera-outline"></i>
            <!-- Camera -->
        </a>
        <a href="#/user" class="tab-item">
            <i class="icon ion-ios-person-outline"></i>
            <!-- Profile -->
        </a>
        <a href="#/feed" class="tab-item">
            <i class="icon ion-ios-navigate-outline"></i>
            <!-- Posts -->
        </a>
        <a href="#/nearme" class="alinkfix-right t-active">
            <i class="icon ion-ios-location-outline"></i>
            <!-- Near Me -->
        </a>
    </div>
    <!-- old code camera button-->
    <!-- <ion-floating-button click="createNew()" has-footer="false" button-color="#0DD1D1"
						 icon="ion-camera" icon-color="#fff"></ion-floating-button> -->
    <!-- old code camera button end-->
    <ion-content class="has-subheader" ng-show="dataLoaded">
        <!-- <div class="row tab-row">
			<a href="#/user" class="col text-center center-tab">
				<img class="fab-book-header-img" ng-src="img/fabbook-header/profile.png"/>
				<p>Profile</p>
			</a>
			<a href="#/feed" class="col text-center center-tab">
				<img class="fab-book-header-img" ng-src="img/fabbook-header/fabbook.png"/>
				<p>Posts</p>
			</a>
			<a href="#/nearme" class="col text-center active-tab center-tab">
				<img class="fab-book-header-img" ng-src="img/fabbook-header/Nearby_fill.png"/>
				<p>Near Me</p>
			</a>
		</div> -->
        <ion-refresher pulling-text="Loading New Feed" on-refresh="doRefresh()"></ion-refresher>
        <div class="feeds" ng-repeat="feed in blogArr | orderBy:'-created_time'">
            <div class="upper-row">
                <div class="row pdtnone">
                    <div class="fd-img">
                        <img class="user_icon img-circle" id="{{feed.blog_id}}" ng-src="{{feed.profilePic || 'img/person.jpg'}}" />
                    </div>
                    <div class="col col-60">
                        <p class="feed-name"><a href="#/user/{{feed.user.user_id}}">
							{{feed.user.user_name}}</a> | {{feed.created_time | date:'d MMM yy'}}</p>
                        <p class="feed-city"><i class="ion ion-location"></i> {{feed.city_name}}</p>
                    </div>
                    <div class="col col-offset-10 follow-wrap platform text-right">
                        <a class="button button-icon icon ion-ios-more pdrt10" ng-click="openPopover($event,feed)"></a>
                        <!-- <span class="follow-btn {{feed.user.user_id}}-follow"
							  ng-click="followUser(feed.user.user_id)">Follow</span>
						<span class="unfollow-btn {{feed.user.user_id}}-unfollow"
							   ng-click="unfollowUser(feed.user.user_id)">Unfollow</span> -->
                    </div>
                </div>
            </div>
            <img ng-src="{{feed.photoUrl}}" class="feed-img" ng-click="showImage(feed.photoUrl)">
            <div class="row upper-row1">
                <div class="col col-33 likenum text-left">
                    <i class="like-btn icon ion-ios-heart-outline ft25" ng-class="feed.liked?'clicked':'normal'" ng-click="likeThisFeed(feed)"></i>
                    <span>{{feed.numLikes || 0}} likes</span>
                </div>
                <div class="col col-50 likenum text-left">
                    <i class="comment-btn icon ion-ios-chatbubble-outline ft25" ng-click="commentPost(feed.blog_id)"></i>
                    <span ng-click="commentToggle(feed.blog_id)">{{feed.commentCount || 0}} comments</span>
                </div>
            </div>
            <div id="{{feed.blog_id}}-commentsBlock" class="initiallyHidden">
                <ion-list>
                    <ion-item class="item_view" ng-repeat="comment in feed.commentsArr">
                        <div class="row">
                            <div class="col-67 comment-name comment-user-name">{{comment.userName}}</div>
                            <div class="col-33">{{comment.created_time | date:'MM/dd/yyyy @ h:mma'}}</div>
                        </div>
                        <div class="row">{{comment.comment}}</div>
                    </ion-item>
                </ion-list>
            </div>
            <div class="row mgtn2">
                <div class="col pdl10">
                    <p ng-bind-html="toTrustedHTML(feed.introduction)" class="feed-introduction"></p>
                </div>
            </div>
        </div>
        <div ng-hide="moreMessagesScroll" class="feedend">You are at the end of the feed</div>
        <ion-infinite-scroll ng-if="moreMessagesScroll" immediate-check="false" on-infinite="loadMore()" distance="1%"> </ion-infinite-scroll>
    </ion-content>
</ion-view>
<script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-content>
            <div class="list">
                <a class="item" ng-if="(followOption == false && postInfo.user.user_id != uid)"
                   ng-click="followUser(postInfo.user.user_id)">
                    Follow
                </a>
                <a class="item" ng-if="(followOption == true && postInfo.user.user_id != uid)"
                   ng-click="unfollowUser(postInfo.user.user_id)">
                    Unfollow
                </a>
                <a class="item" ng-if="postInfo.user.user_id == uid" ng-click="deletePost(postInfo)">
                    Delete
                </a>

                <a class="item" ng-if="postInfo.user.user_id != uid" ng-click="spamPost(postInfo)">
                    Mark as spam
                </a>
            </div>
        </ion-content>
    </ion-popover-view>
</script>
