body{color: #333 ! important;} 

.ft10{font-size: 10px;}
.ft14{font-size: 14px;}
.ft16{font-size: 16px;}
.ft24 {font-size: 24px !important;} 
.ft25 {font-size: 25px !important;}

.nofix {position: relative; top: 0;}
.text-left{text-align: left !important;}
.text-right{text-align: right !important;}
 .col-30{max-width: 30% !important;}
 .col-60{max-width: 60% !important}
 .col-15 { max-width: 15% !important; }
 .mgt30{margin-top: 30px;}
 .margin{margin:10px !important;}