<ion-modal-view class="userProfile" cache-view="false">
   <ion-header-bar class="bar bar-header bar-light">
      <h1 class="title">Crop Image</h1>
      <button class="button button-clear button-primary" ng-click="modal1.hide()">Cancel</button>
   </ion-header-bar>
   <ion-content class="padding">
      <div class="demo"></div>
      <div class="center">
         <a class="button button-assertive save_button_color" ng-click="cropClick()">SAVE</a>
      </div>
   </ion-content>
</ion-modal-view>