<ion-view cache-view="false">
    <ion-content class="pane1">
        <!--<div id="bg"><img src="img/landing.jpg" alt=""></div>-->
        <!--<h1>App Landing Page</h1>-->
    </ion-content>
    <style type="text/css">
    .pane1 {
        background: url('img/landing.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        margin-top: 0px;
        background-repeat: no-repeat;
    }
    </style>
    <script id="templates/loading.html" type="text/ng-template">
        <ion-spinner class="light"></ion-spinner>
        <br />
        <span>Please wait</span>
    </script>
</ion-view>
