.userWallet .walletHeader {
	background-color:#3D3D3D;
}

.userWallet .walletHeader h1 {
	color:#fff;
}

.userWallet .walletHeader i{
	background-color: #3D3D3D;
	color:#fff;
}

.userWallet .walletImg{
	text-align:center;
}

.userWallet .walletImg img{
	width:35%;
	height: 20%;
	margin-bottom: 20px;
}

.userWallet .walletBalance {
	background-color: #3D3D3D;
    width: 92%;
    border-radius: 5px;
    margin: -11px auto -3px auto;
    color: #fff;
}

.userWallet .walletIcon {
	padding:10px 10px 10px 0px;
}

.userWallet .walletBalance i {
	font-size:2em;
	color:#fff;
}

.userWallet .walletBalance div {
	display: inline-block;
    padding: 6px 4px 0px 4px;
    font-size: 0.9em;
    font-weight: 500;
}

.userWallet .walletDescription {
	background-color: rgb(211,211,211);
    width: 92%;
    border-radius: 5px;
    margin: 8px auto 0px auto;
    color: #444;
}

.userWallet .history {
	width: 100%!important;
	text-align: center;
	padding:7px 10px;
	font-weight:500;
	font-size:0.9em;
	border-bottom:1px solid #fff;
}

.userWallet .walletDescription .headings{
	text-align:center;
	font-size:0.8em;
	font-weight:500;
	padding:0;
	border-bottom:1px solid white;
	margin-bottom:-10px;
}

.userWallet .amount {
	 background-color: rgb(211,211,211);
    font-size: 0.8em;
    font-weight: 500;
    padding: 0px;
    margin: 5px 0px -4px 1px;
    text-align: center;
}

.userWallet .detail {
	font-size:0.8em;
	font-weight:500;
	padding:0px;
	margin:5px auto 0px auto;
}

.userWallet .detail p{
	margin: 0px 0px -2px 20px;
}

.userWallet .allTransactions{
	border-bottom: 1px solid white;
}
.userWallet .scroll_view_wallet{
	height:160px;
	width: 100%
}

.userWallet .headings .col-40 {
	background-color:rgb(211,211,211);
}

.userWallet .referNearn {
	text-align: center;
    color: #FF8386;
    font-size: 1.3em;
    font-weight:500;
    margin: 11px;
}

.userWallet .walletFooter {
	background-color:#FF8386;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	padding:0px;
	width:98%;
	margin:0px 1%;
	height:50px;
}

.userWallet .walletFooter h1{
	color:#fff;
}